{% extends 'discuss/base.html' %}

{% block content %}
<div class='col-lg-12'>
	<div class='row'>
		<div class='col-lg-6' id="Points">
			<br>
			Topic Title : {{ topic.title }}

			<br>
			<br>

			Description : {{ topic.description }}

			<br>
			<br>


			<h3>Points</h3>

			<p>Add your point:</p>
			<form action="{% url 'add_point' topic.id %}" method="post">
				{% csrf_token %}
				{{ form }}
				<input type="submit" value="Submit">
			</form>

			<br>

			{% if points %}
			{% for topic in points %}
			<li><a href="{% url 'discuss' topic.id %}">{{ topic.title }}</a></li>
			{% endfor %}
			{% endif %}

			<br>

			<h4>Recommendations on this topic</h4>

			{% if recommendations %}
			{% for content in recommendations %}
			<li><a href="{% url 'content' content.id %}">{{ content.title }}</a></li>
			{% endfor %}
			{% endif %}

			<br>


			<h4>Recommendations from supporting points</h4>

		</div>



		<div class='col-lg-6' id="Counterpoints">
			<h3>Counterpoints</h3>

			<p>Add your point:</p>
			<form action="{% url 'add_counterpoint' topic.id %}" method="post">
				{% csrf_token %}
				{{ form }}
				<input type="submit" value="Submit">
			</form>
			<br>

			{% if counterpoints %}
			{% for topic in counterpoints %}
			<li><a href="{% url 'discuss' topic.id %}">{{ topic.title }}</a></li>
			{% endfor %}
			{% endif %}

			<br>


			<h4>Recommendations from counterpoints</h4>

		</div>
	</div>
</div>
{% endblock %}