{% extends 'discuss/base.html' %}

{% block content %}
<div class='col-lg-12'>
	<div class='row'>
		<div class='col-lg-5 order-lg-2' id="Counterpoints">
			<br>
			<h4>Start a new discussion</h4>

			<br>

			<form action="{% url 'create_discussion' %}" method="post">
				{% csrf_token %}
				{{ form }}
				<input class="btn btn-outline-dark" type="submit" value="Submit">
			</form>
		</div>

		<div class='col-lg-7 order-lg-1' id="Points">
			<br>

			<h3>Discussions</h3>

			<br>

			{% if discussions %}
			{% for discussion in discussions %}
			<li><a href="{% url 'discussion' discussion.id %}">{{ discussion.description | safe }}</a></li>
			{% endfor %}
			{% endif %}

			<br>

		</div>
	</div>
</div>


{% endblock %}
