{% extends 'discuss/base.html' %}

{% block content %}

<div class='col-lg-12'>
	<div class='row'>
		<div class='col-lg-6' id="Points">
			<br>

			<h3>Topics</h3>

			<br>

			{% if topics %}
			{% for topic in topics %}
			<li><a href="{% url 'view_topic' topic.id %}">{{ topic.title }}</a></li>
			{% endfor %}
			{% endif %}

			<br>

		</div>



		<div class='col-lg-6' id="Counterpoints">
			<br>
			<h4>Create new topic</h4>
			<form action="{% url 'create_topic' %}" method="post">
				{% csrf_token %}
				{{ form }}
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>
</div>
{% endblock %}