{% extends 'discuss/base.html' %}

{% block content %}
<div class='col-lg-12'>
	<div class='row'>
		<div class='col-md-6 order-lg-2' id="Counterpoints">
			<br>

			<h4>Add new recommendation</h4>

			<br>
			<form action="{% url 'create_content' %}" method="post">
				{% csrf_token %}
				{{ form }}
				<input type="submit" value="Submit">
			</form>
			<br>
		</div>

		<div class='col-md-6 order-lg-1' id="Points">
			<br>

			<h3>Recommendations</h3>

			<br>

			{% if contents %}
			{% for content in contents %}
			<li><a href="{% url 'content' content.id %}">{{ content.title }}</a> 
				{% if content.creator %}
				by <a href="#">{{ content.creator }}</a>
				{% endif %}
			</li>
			{% endfor %}
			{% endif %}
		</div>	
	</div>
</div>
{% endblock %}