{% load static %}

<html>
<head>
	<title>WeMedia.</title>

	<!--CSS -->
	<link href="{% static 'discuss/freelancer.min.css' %}" rel="stylesheet">
</head>

<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="{% url 'index'%}">We Media</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'all_topics'%}">Topics</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'all_discussions'%}">Discussions</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'all_content'%}">Recommendations</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'all_asks'%}">Ask for a recommendation</a>
				</li>
			</ul>
			<!-- Navbar right -->
			<div class="navbar-nav">
				{% if user.is_authenticated %}
					<a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>

					<a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
				{% else %}
					<a class="nav-item nav-link" href="{% url 'login' %}">Login</a>

					<a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
				{% endif %}
			</div>
		</div>
	</nav>

	{% if messages %}
		{% for message in messages %}
		<div class="alert alert-{{ message.tags }}">
			{{ message }}
		</div>
		{% endfor %}
	{% endif %}

	{% block content %}
	{% endblock %}

	<!-- Bootstrap core JavaScript -->
	<script src="{% static 'discuss/vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'discuss/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

	<!-- Plugin JavaScript -->
	<script src="{% static 'discuss/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

	<!-- Custom scripts for this template -->
	<script src="{% static 'discuss/js/freelancer.min.js' %}"></script>

</body>
</html>