{% load static %}

<html>
<head>
	<title>WeMedia.</title>

	<!--CSS -->
	<link href="{% static 'discuss/freelancer.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'discuss/main.css' %}">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

</head>

<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="{% url 'index'%}">We Media</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'all_topics'%}">Topics</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'all_discussions'%}">Discussions</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'all_content'%}">Recommendations</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'all_asks'%}">Ask for a recommendation</a>
				</li>
			</ul>
			<!-- Navbar right -->
			<div class="navbar-nav">
				{% if user.is_authenticated %}
					<a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>

					<a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
				{% else %}
					<a class="nav-item nav-link" href="{% url 'login' %}">Login</a>

					<a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
				{% endif %}
			</div>
		</div>
	</nav>

	{% if messages %}
		{% for message in messages %}
		<div class="alert alert-{{ message.tags }}">
			{{ message }}
		</div>
		{% endfor %}
	{% endif %}

	{% block content %}
	{% endblock %}

	<script>
  $('*[id*=id_description]').summernote({
    placeholder: '',
    tabsize: 2,
    height: 120,
    toolbar: [
      ['style', ['style']],
      ['font', ['bold', 'underline', 'clear']],
      ['color', ['color']],
      ['para', ['ul', 'ol', 'paragraph']],
      ['table', ['table']],
      ['insert', ['link', 'picture', 'video']],
      ['view', ['fullscreen', 'codeview', 'help']]
    ]
  });

  // $('*[id*=id_title]').summernote({
  //   placeholder: '',
  //   tabsize: 2,
  //   height: 120,
  //   toolbar: [
  //     ['style', ['style']],
  //     ['font', ['bold', 'underline', 'clear']],
  //     ['color', ['color']],
  //     ['para', ['ul', 'ol', 'paragraph']],
  //     ['table', ['table']],
  //     ['insert', ['link', 'picture', 'video']],
  //     ['view', ['fullscreen', 'codeview', 'help']]
  //   ]
  // });
</script>

	<!-- Bootstrap core JavaScript -->
	<script src="{% static 'discuss/vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'discuss/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

	<!-- Plugin JavaScript -->
	<script src="{% static 'discuss/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

	<!-- Custom scripts for this template -->
	<script src="{% static 'discuss/js/freelancer.min.js' %}"></script>

</body>
</html>
