{% load static %}

<html>
<head>
	<title>WeMedia.</title>

	<!--CSS -->
	<link href="{% static 'discuss/freelancer.min.css' %}" rel="stylesheet">
</head>

<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="{% url 'index'%}">We Media</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'all_topics'%}">Topics</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'all_discussions'%}">Discussions</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'all_content'%}">Recommendations</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'all_asks'%}">Ask for a recommendation</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search (Coming soon)" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>

	{% block content %}
    {% endblock %}
</body>
</html>