{% extends 'discuss/base.html' %}

{% block content %}
<div class='col-lg-12'>
	<div class='row'>
		<div class='col-lg-6' id="Points">
			<br>
			<h4>Recommendation request</h4>
			<hr>
			<row>
				<h4>Looking for :</h4>
				{% for content_type in content_types %}
				<button type="button" class="btn btn-primary">
					{{ content_type | safe}}
				</button>
				{% endfor %}
			</row>
			<br>
			<br>

			<h4>Description : </h4>

			<h6>{{ask.description | safe}}</h6>

			<br>

			<hr>

			<h3>Recommendations</h3>

			{% for suggestion in suggestions %}
			<li>{{suggestion.description | safe}}</li>
			{% endfor %}
		</div>



		<div class='col-lg-6' id="Counterpoints">
			<br>
			<h4>Add your recommendation:</h4>
			<form action="{% url 'add_suggestion' ask.id %}" method="post">
				{% csrf_token %}
				{{ form }}
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>
</div>
{% endblock %}
