{% load static %}

<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'discuss/bootstrap.min.css' %}">
</head>

<body>
	<div class='col-lg-12'>
		<div class='row'>
			<div class='col-lg-6' id="Points">
				<br>

				{% if parent_id != -1  %}
				<a href="{% url 'discussion' parent_id %}">Parent comment</a>	
				{% endif %}

				<br>

				<h2>{{ comment.description }}</h2>

				<br>
				<br>

				<h3>Points</h3>

				<p>Add your point:</p>
				<form action="{% url 'add_point' comment.id %}" method="post">
					{% csrf_token %}
					{{ form }}
					<input type="submit" value="Submit">
				</form>

				<br>

				{% if points %}
				{% for comment in points %}
				<li><a href="{% url 'discussion' comment.id %}">{{ comment.description }}</a></li>
				{% endfor %}
				{% endif %}

				<br>				
			</div>



			<div class='col-lg-6' id="Counterpoints">
				<br>
				<h3>Counterpoints</h3>

				<p>Add your point:</p>
				<form action="{% url 'add_counterpoint' comment.id %}" method="post">
					{% csrf_token %}
					{{ form }}
					<input type="submit" value="Submit">
				</form>
				<br>

				{% if counterpoints %}
				{% for comment in counterpoints %}
				<li><a href="{% url 'discussion' comment.id %}">{{ comment.description }}</a></li>
				{% endfor %}
				{% endif %}

				<br>
			</div>
		</div>
	</div>
</body>
</html>